* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  display: block;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}


.container > img {
    height: 30px;
    display: block;
    margin-top: 15px;
    margin-left: 15px;
}


#burguer {
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: black;
    color: white;
    padding: 20px;
    display: block;
    width: 100%;
    margin-top: -45px;
    text-align: end;
    cursor: pointer;
}

#items {
    display: none;
    list-style: none;
}

#items li a {
    display: block;
    padding: 15px 25px;
    font-size: 1.4em;
    text-decoration: none;
    text-align: start;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: black;
    /* border-top: 2px solid gray; */
}

#items li a:hover {
    color: #1ed760;
}

.login a {
  font-weight: bold;
  color: white;
}

.login_color a {
  color: silver;
}

.separator {
  display: inline-block;
  margin: 30px 25px;
  height: 4px;
  width: 20px;
  background-color: white;
}

/*-------------------------------*/


.button {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.button > a {
  margin-right: 10px;
  transition: transform .1s;
}

.button > a:hover {
  transform: scale(1.04);
}

.btn__experience {
  width: 100%;
  padding: 15px 40px;
  background: black;
  color: white; 
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 0.7em;
  }

  .btn__experience:hover {
    cursor: pointer;
  }

.btn__plano {
  width: 100%;
  padding: 15px 40px;
  background: #DF0C8B;
  margin-top: 15px;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  border: 3px solid white;
  font-weight: 700;
}

.btn__plano:hover {[
  cursor: pointer;
]}

.footer__post {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
}

.footer__post p {
  font-size: 0.7em;
}  

.terms a {
  font-size: 1em;
  text-decoration: underline;
  color: white;
}


 /* Post */

 #post {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background: #DF0C8B;
}

.post__container {
  margin: 20px; 
  color: white;
}

.post__container h2 {
  font-size: 1.7em;
  margin-top: 25px;  
}

.post__container p {
  margin-top: 25px;
}

.post__container a {
  text-decoration: none;
}


/* Post 2 */

#post_two {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: left;
  height: auto;
  background: #f6f6f6;
  padding: 30px 20px;
}

#post_two ul {
  list-style: none;
}

.post__header{
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 30px;
}

.post__header h2 {
  font-weight: 900; 
}

.post__premium {
  display: flex;
}

.post_two_text {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 21px;
  padding: 0px;
}



.premium__image__one {
  background-image: url(https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f);
  background-position: center;
  background-size: 90px;
  margin-right: 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 70px;
}

.premium__image__two {
  background-image: url(	https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137);
  background-position: center;
  background-size: 95px;
  margin-right: 20px;
  width: 120px;
  height: 95px;
  border-radius: 50%;
  margin-bottom: 70px;
}

.premium__image__three{
  background-image: url(./assets/premium3.png);
  background-position: center;
  background-size: 90px;
  margin-right: 20px;
  width: 120px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 70px;
}

.premium__image__four {
  background-image: url(./assets/premium4.svg);
  background-position: center;
  background-size: 90px;
  margin-right: 20px;
  width: 110px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 70px;
}


/* Post 3 */

#post_three {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/woman.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
}

#post_three .showcase__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.showcase__container h2 {
  margin-top: 30px;
  font-size: 2.2em;
}

.showcase__container p {
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 500;
}

.showcase__container a {
  text-decoration: none;
}

.btn__primary {
  letter-spacing: 1px;
  border: none;
  border-radius: 30px;
  padding: 15px 58px; 
  margin-top: 10px;
  background: #1ed760;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background: #1db954;
}

/* ------------------------------------------------------------------------------------------ */
/* Post 3 */

#post_four {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  color: #202f72;
  background-color: #f46ebe;
}

#post_four h4 {
  margin-top: 40px;
  margin-bottom: 30px;
}

#post_four h2 {
margin: 20px;
}

#post_four h3 {
  margin: 20px;
  margin-top: -10px;
  font-size: 1em;
}

.best2022 {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.best2022 li {
  display: flex;
  align-items: center;
}

.best2022 img {
  margin: 20px;
  width: 140px;
  height: 140px;
  transition: transform 0.3s;
}

.intro {
  margin: 5px;
}

.best2022 img:hover {
  transform: scale(1.1);
}

/* ------------------------------------------------------------------------------------------ */
/* Footer */

#mh_footer .logo__spotify {
  margin-top: 50px;
  margin-left: 20px;
  height: 30px;
  display: flex;
  flex-direction: column;
}

.topics__footer {
  color: #919496;
  font-weight: 900;
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 55px;
  margin-left: 20px;
}

.access__footer {
  color: white;
  margin-top: 25px;
  margin-left: 20px;
  font-size: 1em;
  cursor: pointer;
}

.access__footer:hover {
  color: #1ed760;
}



/* Footer Socials */

.social_icons {
  margin-top: 100px;
  }
  
  
.social_icons i {
    margin: 50px 10px 22px;
    font-size: 1.7rem;
    transition: all 300ms ease;
  }
  
  .socials_icons i:hover {
    color: #1db954;
    cursor: pointer;
  }


