* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: block;
  font-family: 'Roboto', sans-serif;
  background-image: url(./assets/woman.jpg);
    /* background-image: url(https://img.freepik.com/fotos-gratis/mulher-alegre-feliz-usando-fones-de-ouvido-ouvindo-musica-de-estudio-de-smartphone-tiro-isolado-na-parede-amarela_231208-1690.jpg?w=2000); */
  background-size: 450px 400px;
  background-repeat: no-repeat; 
}


.container > img {
    height: 30px;
    display: block;
    margin-top: 15px;
    margin-left: 10px;
}


#burguer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    display: block;
    width: 100%;
    margin-top: -45px;
    text-align: end;
    cursor: pointer;
}

#items {
    display: none;
    list-style: none;
}

#items li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    /* border-top: 2px solid gray; */
}

#items li a:hover {
    color: #1db954;
}

/* Showcase */

#showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; 
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
  }
  
  #showcase .showcase__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .showcase__container h2 {
    font-size: 45px;
  }
  
  .showcase__container p {
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 500;
  }

  .showcase__container a {
    text-decoration: none;
  }

  .btn__primary {
    letter-spacing: 1px;
    border: none;
    border-radius: 30px;
    padding: 15px 58px; 
    margin-top: 15px;
    background: #1db954;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

  .btn-primary:hover {
    background: #1ed760;
  }

  /* Post */

  #post {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: #DF0C8B;
  }

  .post__container {
    /* display: flex;
    flex-direction: column; */
    margin: 20px; 
    color: white;
  }

  .post__container h2 {
    font-size: 30px;
    margin-top: 25px;  
  }
  
  .post__container p {
    font-size: 18px;
    margin-top: 25px;
  }

  .post__container a {
    text-decoration: none;
  }
/*-------------------------------*/


.button {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.button > a {
  margin-right: 10px;
  transition: transform .1s;
}

.button > a:hover {
  transform: scale(1.04);
}

.btn__experience {
  width: 95vw;
  padding: 15px 40px;
  background: black;
  color: white; 
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  }

  .btn__experience:hover {
    cursor: pointer;
  }

.btn__plano {
  width: 95vw;
  padding: 15px 40px;
  background: #DF0C8B;
  margin-top: 15px;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  border: 3px solid white;
  font-weight: 700;
}

.btn__plano:hover {[
  cursor: pointer;
]}

.footer__post {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.terms {
  font-weight: 400;
}  

.terms a {
  text-decoration: underline;
  color: white;
}